*.o
*.la
sdk_demo/audioenc_test/audioenc_test
sdk_demo/autplayer_test/autplayer_test
sdk_demo/decoder_test/decoder_test
sdk_demo/encoder_test/encoder_test
sdk_demo/fbinit_test/fbinit
sdk_demo/mem_test/mem_test
sdk_demo/mem_test/mem_test_de
sdk_demo/record_test/record_test
sdk_demo/dvr_test/dvr_test
sdk_demo/tpadc_test/tpadc_test
sdk_demo/csi_test/csi_test_usrptr
sdk_demo/csi_test/csi_test_mmap
sdk_demo/gif2rgb_test/gif2rgb_test
sdk_demo/g2d_test/g2d_test
sdk_demo/alpha_test/alpha_test
sdk_demo/png_decode_test/png2bmp_test
sdk_demo/png_decode_test/png_decode_test
sdk_demo/usbcam_test/usbcam_test
sdk_demo/yuv_test/yuvtest
sdk_demo/lcd_bright_test/lcd_bright_test
sdk_demo/tvd_test/tvd_test_mmap
sdk_demo/tvd_test/tvd_test_usrptr
sdk_demo/stream_player_test/stream_player_test
sdk_demo/awrpaf_test/awrpaf_test
sdk_demo/dsp_debug_test/dsp_debug
sdk_demo/gpio_test/gpio_test
sdk_demo/*/*.o

sdk_lib/cedarx/include/external/
sdk_lib/cedarx/include/libcedarc/
sdk_lib/cedarx/include/libcore/
sdk_lib/cedarx/include/xmetadataretriever/
sdk_lib/cedarx/include/xplayer/

sdk_lib/libs/libsdk_*.so
sdk_lib/sdk_*/*.so
